# **–î–û–ú–ê–®–ù–ï–ï –ó–ê–î–ê–ù–ò–ï 1**



## **1) –ó–∞–≥—Ä—É–∑–∏—Ç—å —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ –ø–æ –∫–ª–∏–µ–Ω—Ç–∞–º –∏ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è–º.** üëå  
___

## **2) –ü—Ä–æ–¥—É–º–∞—Ç—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –∏ –æ—Ç—Ä–∏—Å–æ–≤–∞—Ç—å –≤ —Ä–µ–¥–∞–∫—Ç–æ—Ä–µ.** üëå  
___
–î–∞–ª—å—à–µ –ø–æ –∞–ª–≥–æ—Ä–∏—Ç–º—É –∏–¥—É—Ç —à–∞–≥–∏ –ø–æ –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏–∏, –ø–æ—ç—Ç–æ–º—É —Å–Ω–∞—á–∞–ª–∞ —è –æ—Ç—Ä–∏—Å–æ–≤–∞–ª–∞ —Å—Ç—Ä—É–∫—Ç—É—Ä—É, –∫–∞–∫ –≤ excel-—Ñ–∞–π–ª–µ –∏–∑ –∑–∞–¥–∞–Ω–∏—è.
![—Å—Ç—Ä—É–∫—Ç—É—Ä–∞_1.png](—Å–∫—Ä–∏–Ω—ã/—Å—Ç—Ä—É–∫—Ç—É—Ä–∞_1.png)
–ö–æ–¥ –∏–∑ —Ä–µ–¥–∞–∫—Ç–æ—Ä–∞:
```sql
Table Transaction {
  transaction_id integer
  product_id	integer
  customer_id	integer
  transaction_date	timestamp
  online_order	BOOLEAN
  order_status	varchar
  brand	varchar
  product_line	varchar
  product_class	varchar
  product_size	varchar
  list_price	Float
  standard_cost Float
}
Table Customers {
  customer_id integer
  first_name varchar
  last_name varchar
  gender varchar
  DOB date
  job_title varchar
  job_industry_category varchar
  wealth_segment varchar
  deceased_indicator varchar
  owns_car varchar
  address varchar
  postcode varchar
  state varchar
  country varchar
  property_valuation integer
}
Ref: "Transaction"."customer_id" < "Customers"."customer_id"
```

## **3) –ù–æ—Ä–º–∞–ª–∏–∑–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö (–æ—Ç 1–ù–§ –¥–æ 3–ù–§), –æ–ø–∏—Å–∞–≤, –∫ –∫–∞–∫–æ–π –Ω–æ—Ä–º–∞–ª—å–Ω–æ–π —Ñ–æ—Ä–º–µ –ø—Ä–∏–≤–æ–¥–∏—Ç—Å—è —Ç–∞–±–ª–∏—Ü–∞ –∏ –ø–æ—á–µ–º—É —Ç–∞–±–ª–∏—Ü–∞ –≤ —ç—Ç–æ–π –Ω–æ—Ä–º–∞–ª—å–Ω–æ–π —Ñ–æ—Ä–º–µ –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ –Ω–µ –Ω–∞—Ö–æ–¥–∏–ª–∞—Å—å.** üëå  
___
  
### 1–ù–§. –î–ª—è —Ç–æ–≥–æ —á—Ç–æ–±—ã —Ç–∞–±–ª–∏—Ü–∞ –±—ã–ª–∞ –≤ 1–ù–§ –≤—Å–µ –∞—Ç—Ä–∏–±—É—Ç—ã –≤ —Ç–∞–±–ª–∏—Ü–µ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –ø—Ä–æ—Å—Ç—ã–º–∏, –≤—Å–µ —Å–æ—Ö—Ä–∞–Ω—è–µ–º—ã–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –ø–µ—Ä–µ—Å–µ—á–µ–Ω–∏–∏ —Å—Ç–æ–ª–±—Ü–æ–≤ –∏ —Å—Ç—Ä–æ–∫ ‚Äî —Å–æ–¥–µ—Ä–∂–∞—Ç—å –ª–∏—à—å —Å–∫–∞–ª—è—Ä–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∞ —Å—Ç—Ä–æ–∫–∏ –Ω–µ –¥–æ–ª–∂–Ω—ã –ø–æ–≤—Ç–æ—Ä—è—Ç—å—Å—è. –í —Å—Ç—Ä—É–∫—Ç—É—Ä–µ –≤ –ø.2 –Ω–µ—Ç –≥–∞—Ä–∞–Ω—Ç–∏–∏, —á—Ç–æ —Å—Ç—Ä–æ–∫–∏ –Ω–µ –±—É–¥—É—Ç –ø–æ–≤—Ç–æ—Ä—è—Ç—å—Å—è. –ü–æ—ç—Ç–æ–º—É –Ω–∞–¥–æ –∑–∞–¥–∞—Ç—å primary key:
```sql
...
transaction_id integer [primary key]
...
customer_id integer [primary key]
...
```
![–°—Ç—Ä—É–∫—Ç—É—Ä–∞_2.png](—Å–∫—Ä–∏–Ω—ã/–°—Ç—Ä—É–∫—Ç—É—Ä–∞_2.png)
   
### 2–ù–§. –û—Ç–Ω–æ—à–µ–Ω–∏—è –±—É–¥—É—Ç —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–æ–≤–∞—Ç—å 2–ù–§, –µ—Å–ª–∏ —Å–∞–º–∞ –ë–î –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ 1–ù–§, –∞ –∫–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü, –∫–æ—Ç–æ—Ä—ã–π –Ω–µ —è–≤–ª—è–µ—Ç—Å—è –∫–ª—é—á–æ–º, –∑–∞–≤–∏—Å–∏—Ç –æ—Ç –ø–µ—Ä–≤–∏—á–Ω–æ–≥–æ –∫–ª—é—á–∞. –í —Å—Ç—Ä—É–∫—Ç—É—Ä–µ –Ω–µ –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ –∑–∞–≤–∏—Å—è—Ç –æ—Ç –ø–µ—Ä–≤–∏—á–Ω–æ–≥–æ –∫–ª—é—á–∞, –Ω–∞–ø—Ä–∏–º–µ—Ä, –≤ —Ç–∞–±–ª–∏—Ü–µ customer –ø–æ–ª–µ "postcode" –∑–∞–≤–∏—Å–∏—Ç –æ—Ç –ø–æ–ª—è "address".
![–°—Ç—Ä—É–∫—Ç—É—Ä–∞_3.png](—Å–∫—Ä–∏–Ω—ã/–°—Ç—Ä—É–∫—Ç—É—Ä–∞_3.png)
```sql
Table Transaction {
  transaction_id integer [primary key]
  product_id	integer
  customer_id	integer
  transaction_date	timestamp
  online_order	BOOLEAN
  order_status	varchar
}
Table Product {
  product_id	integer [primary key]
  product_class	varchar 
  product_size	varchar 
  brand	varchar
  product_line	varchar 
  list_price float
  standard_cost float
}
Table Customers {
  customer_id integer [primary key]
  first_name varchar
  last_name varchar
  gender varchar
  DOB date
  job_title varchar
  job_industry_category varchar
  wealth_segment varchar
  deceased_indicator varchar
  owns_car varchar
  address_id integer
}
Table Addresses {
  address_id integer [primary key]
  address_line varchar
  postcode varchar
  state varchar
  country varchar
  property_valuation integer
}
Ref: "Transaction"."product_id" < "Product"."product_id"
Ref: "Transaction"."customer_id" < "Customers"."customer_id"
Ref: "Customers"."address_id" < "Addresses"."address_id"
```
### 3) 3–ù–§. –î–ª—è 3–ù–§ –Ω—É–∂–Ω–æ —á—Ç–æ–±—ã, –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ –∑–∞–≤–∏—Å–µ–ª–∏ –æ—Ç –ø–µ—Ä–≤–∏—á–Ω–æ–≥–æ –∫–ª—é—á–∞ –∏ –Ω–µ –∑–∞–≤–∏—Å–µ–ª–∏ –¥—Ä—É–≥ –æ—Ç –¥—Ä—É–≥–∞. –í —Å—Ç—Ä—É–∫—Ç—É—Ä–µ –≤—ã—à–µ –µ—Å—Ç—å –∑–∞–≤–∏—Å–∏–º—ã–µ –¥—Ä—É–≥ –æ—Ç –¥—Ä—É–≥–∞ –ø–æ–ª—è: –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ–ª—è postcode –∏ state –∑–∞–≤–∏—Å—è—Ç. –ò—Å–ø—Ä–∞–≤–ª–µ–Ω–Ω–∞—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞:
![–°—Ç—Ä—É–∫—Ç—É—Ä–∞_4.png](—Å–∫—Ä–∏–Ω—ã/–°—Ç—Ä—É–∫—Ç—É—Ä–∞_4.png)
``` sql
Table Transaction {
    transaction_id integer [primary key]
    product_id integer
    customer_id integer
    transaction_date timestamp
    online_order boolean
    order_status varchar
  }
  Table Product {
    product_id integer [primary key]
    brand varchar
    product_line varchar
    product_class varchar
    product_size varchar
    list_price float
    standard_cost float
  }
  Table Customers {
    customer_id integer [primary key]
    first_name varchar
    last_name varchar
    gender varchar
    DOB date
    job_id integer
    deceased_indicator varchar
    owns_car varchar
    address_id integer
    wealth_segment varchar
  }
  Table Job {
    job_id integer [primary key]
    job_title varchar
    job_industry_category varchar
  }
  Table Postcode {
    postcode_id integer [primary key]
    postcode varchar
    state varchar
    country varchar
  }
  Table Addresses {
    address_id integer [primary key]
    address_line varchar
    postcode_id varchar 
    property_valuation integer
  }
  Ref: "Transaction"."product_id" < "Product"."product_id"
  Ref: "Transaction"."customer_id" < "Customers"."customer_id"
  Ref: "Customers"."address_id" < "Addresses"."address_id"
  Ref: "Addresses"."postcode_id" < "Postcode"."postcode_id"
  Ref: "Customers"."job_id" < "Job"."job_id"
```

## **4) –°–æ–∑–¥–∞—Ç—å –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã –≤ DBeaver, —É–∫–∞–∑–∞–≤ –ø–µ—Ä–≤–∏—á–Ω—ã–µ –∫–ª—é—á–∏ –∫ —Ç–∞–±–ª–∏—Ü–∞–º, –ø—Ä–∞–≤–∏–ª—å–Ω—ã–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö, –º–æ–≥—É—Ç –ª–∏ –ø–æ–ª—è –±—ã—Ç—å –ø—É—Å—Ç—ã–º–∏ –∏–ª–∏ –Ω–µ—Ç.** üëå  
___

In [1]:
#!pip install psycopg2

In [2]:
import psycopg2
db_config = {
    'host': 'localhost',
    'database': 'hw1',
    'user': 'postgres',
    'password': '984651',
    'port': '5432'
}
conn = psycopg2.connect(**db_config)
cursor = conn.cursor()

In [3]:
conn.rollback()

In [4]:
cursor.execute("""
        DROP TABLE IF EXISTS Transaction;
        DROP TABLE IF EXISTS Customers;
        DROP TABLE IF EXISTS Product;
        DROP TABLE IF EXISTS Addresses;
        DROP TABLE IF EXISTS Postcode;
        DROP TABLE IF EXISTS Job;
    """)

cursor.execute("""
        CREATE TABLE Postcode (
            postcode_id INTEGER PRIMARY KEY,
            postcode VARCHAR NOT NULL,
            state VARCHAR NOT NULL,
            country VARCHAR NOT NULL
        );
        
        CREATE TABLE Job (
            job_id INTEGER PRIMARY KEY,
            job_title VARCHAR,
            job_industry_category VARCHAR NOT NULL
        );
        
        CREATE TABLE Addresses (
            address_id INTEGER PRIMARY KEY,
            address_line VARCHAR NOT NULL,
            postcode_id INTEGER NOT NULL,
            property_valuation INTEGER NOT NULL,
            FOREIGN KEY (postcode_id) REFERENCES Postcode(postcode_id)
        );
        
        CREATE TABLE Product (
            product_id INTEGER PRIMARY KEY,
            brand VARCHAR,
            product_line VARCHAR,
            product_class VARCHAR,
            product_size VARCHAR,
            list_price DECIMAL(10,2) NOT NULL,
            standard_cost DECIMAL(10,2)
        );
        
        CREATE TABLE Customers (
            customer_id INTEGER PRIMARY KEY,
            first_name VARCHAR NOT NULL,
            last_name VARCHAR,
            gender VARCHAR NOT NULL,
            DOB DATE,
            job_id INTEGER NOT NULL,
            deceased_indicator VARCHAR NOT NULL,
            owns_car VARCHAR NOT NULL,
            address_id INTEGER NOT NULL,
            wealth_segment VARCHAR NOT NULL,
            FOREIGN KEY (job_id) REFERENCES Job(job_id),
            FOREIGN KEY (address_id) REFERENCES Addresses(address_id)
        );
        
        CREATE TABLE Transaction (
            transaction_id INTEGER PRIMARY KEY,
            product_id INTEGER NOT NULL,
            customer_id INTEGER NOT NULL,
            transaction_date TIMESTAMP NOT NULL,
            online_order BOOLEAN,
            order_status VARCHAR NOT NULL,
            FOREIGN KEY (product_id) REFERENCES Product(product_id),
            FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
        );
""")
conn.commit()
cursor.close()
conn.close()

### –°–∫—Ä–∏–Ω —Å —Ç–∞–±–ª–∏—Ü–∞–º–∏ –∏–∑ DBeaver
![–°—Ö–µ–º–∞_DBeaver.png](—Å–∫—Ä–∏–Ω—ã/–°—Ö–µ–º–∞_DBeaver.png)

## **5) –ó–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü—ã –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–∏ —Å —Å–æ–∑–¥–∞–Ω–Ω–æ–π —Å—Ç—Ä—É–∫—Ç—É—Ä–æ–π** üëå
___

–ó–∞–≥—Ä—É–∑–∏–ª–∞ –≤ DBeaver —á–µ—Ä–µ–∑ import scv
  
### job
![job_import.png](—Å–∫—Ä–∏–Ω—ã/job_import.png)
  
### postcode
![postcode_import.png](—Å–∫—Ä–∏–Ω—ã/postcode_import.png)
  
### product
![product_import.png](—Å–∫—Ä–∏–Ω—ã/product_import.png)
  
### addresses
![addresses_import.png](—Å–∫—Ä–∏–Ω—ã/addresses_import.png)
  
### customers
![customers_import.png](—Å–∫—Ä–∏–Ω—ã/customers_import.png)
  
### transaction
![transaction_import.png](—Å–∫—Ä–∏–Ω—ã/transaction_import.png)